body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(9, 189, 189);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul li {
    margin: 0 1em;
}

img {
    width: 5rem;
}